<div >
  <div class="grid grid-cols-3">
    <div >
      @for (schema of schemaList; track schema.name) {
      <div mxCard class="m-2 cursor-pointer" [ngClass]="{'border-2': selectedSchema.name === schema.name}" (click)="selectSchema(schema)" >
        <div mxCardHeader>
          <p mxCardtitle class="capitalize">
              {{schema.name}}
            </p>
          </div>
        </div>
      }
    </div>
    <div class="col-span-2">
      <p class="text-xl my-2 capitalize">{{selectedSchema.name}}</p>
      <p>Properties</p>
      <div class="grid gap-2">
        @for (item of selectedSchema.properties | keyvalue; track item.key) {
          <mx-badge [text]="getKeyAsString(item)" variant="secondary" />
        }
      </div>
    </div>
  </div>
</div>
