<div class="grid md:grid-cols-12 grid-cols-1 gap-3 m-5">
  <div class="col-span-2">
    <div class="mb-4">
      <p class="text-2xl mb-3">Select Schema</p>
      <mx-select
        [control]="schemaSelectControl"
        [items]="schemaList"
        bindLabel="name"
        bindValue="name"
      />
    </div>
    <p class="text-xl mb-3">Fields</p>
    <div
      class="flex flex-col gap-2"
      cdkDropList
      (cdkDropListDropped)="drop($event)"
    >
      @for (item of formList(); track item?.config?.label) {
        <div mxCard cdkDrag>
          <div mxCardContent class="flex items-center p-1 pl-3 justify-between">
            <p [class]="item.config?.removed ? 'text-red-600' : ''" class="text-sm">
              {{ item.config?.label }}
            </p>
            <div class="flex gap-2">
              <input-config
                [fieldConfig]="item"
                (configChange)="handleFormChange($event)"
              />

            </div>
          </div>
        </div>
      }
    </div>
    <div class="my-5 flex flex-col gap-2">
      <p class="text-xl">Page Settings</p>
      <mx-input
        label="Datagrid Title"
        [control]="pageSettings.controls.datagridTitle"
        placeholder="Enter datagrid title"
      />
      <mx-input
        label="Page Header"
        [control]="pageSettings.controls.pageHeader"
        placeholder="Enter page header"
      />
      <mx-input
      label="Add Button text"
      [control]="pageSettings.controls.addButtonText"
      placeholder="Enter add button text"
    />
      <mx-textarea
        label="Page Description"
        [control]="pageSettings.controls.pageDescription"
        placeholder="Enter page description"
      />
    </div>
    <div class="mt-3">
      <mx-button (handleClick)="handleSave()">Save</mx-button>
    </div>
    <div class="mt-3">
      <mx-button (handleClick)="handleSaveAndGenerate()"
        >Save & generate</mx-button
      >
    </div>
  </div>
  <div class="col-span-10">
    <preview-form
      [previewFormList]="formList()"
      [pageSettings]="pageSettings.value"
    />
  </div>
</div>
