<div
  [@fadeAnimation]="{
    value: animationState,
    params: {
      fadeIn: data.animation?.fadeIn,
      fadeOut: data.animation?.fadeOut,
    },
  }"
  (@fadeAnimation.done)="onFadeFinished($event)"
  class="max-w-xs bg-background border-2 rounded-md shadow-lg mt-2 border-opacity-50"
  [ngClass]="{
    'bg-destructive': data.type === 'error',
    'border-blue-500': data.type === 'info' || data.type === 'loading',
    'border-green-500': data.type === 'success',
    'border-orange-500': data.type === 'warning',
  }"
  role="alert"
>
  <div class="flex py-3 px-5 items-center">
    <ng-container
      *ngTemplateOutlet="icon; context: { type: data.type }"
    ></ng-container>
    <div class="ml-3">
      <h4
        [ngClass]="{ '!text-white': data.type === 'error' }"
        class="font-semibold mb-1"
        *ngIf="data.title"
      >
        {{ data.title }}
      </h4>
      <p
        class="text-md text-gray-700 dark:text-gray-400"
        [ngClass]="{ '!text-white': data.type === 'error' }"
      >
        {{ data.text }}
      </p>
    </div>
  </div>
</div>

<ng-template #icon let-type="type">
  <div class="flex-shrink-0 self-start mt-1">
    <div
      *ngIf="data.type === 'loading'"
      class="animate-spin inline-block w-4 h-4 border-[2px] border-current border-t-transparent text-blue-500 rounded-full"
      role="status"
      aria-label="loading"
    >
      <span class="sr-only">Loading...</span>
    </div>
    <svg
      *ngIf="data.type === 'info'"
      class="h-4 w-4 text-blue-500 mt-0.5"
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      viewBox="0 0 16 16"
    >
      <path
        d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"
      />
    </svg>
    <svg
      *ngIf="data.type === 'success'"
      class="h-4 w-4 text-green-500 mt-0.5"
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      viewBox="0 0 16 16"
    >
      <path
        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"
      />
    </svg>
    <svg
      *ngIf="data.type === 'error'"
      class="h-4 w-4 text-white mt-0.5"
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      viewBox="0 0 16 16"
    >
      <path
        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"
      />
    </svg>
    <svg
      *ngIf="data.type === 'warning'"
      class="h-4 w-4 text-orange-500 mt-0.5"
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      viewBox="0 0 16 16"
    >
      <path
        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"
      />
    </svg>
  </div>
</ng-template>
