<div
  class="grid h-screen place-items-center bg-gradient-to-r from-blue-200 to-cyan-200"
>
  <div mxCard class="w-[25rem]">
    <div mxCardHeader>
      <div mxCardtitle class="align-center flex justify-center">
        <img src="/assets/logo.png" class="h-20 w-h-20" />
      </div>
    </div>
    <div mxCardContent>
      <div class="flex justify-center align-center">
        <p class="text-2xl self-end">Control Panel</p>
      </div>

      <div class="grid gap-4">
        <mx-input
          [control]="loginForm.controls.email"
          label="Email"
          placeholder="name@example.com"
        />
        @if (!forgotPassword) {
          <mx-input-password
            [control]="loginForm.controls.password"
            label="Password"
            placeholder="Enter your password"
            [regsiterMode]="false"
          />
        }
        <div>
          <a
            class="text-sm text-blue-500 cursor-pointer hover:underline"
            (click)="forgotPassword = !forgotPassword"
          >
            {{ forgotPassword ? 'Login' : 'Forgot Password?' }}</a
          >
        </div>
        <mx-button type="button" (handleClick)="handleSubmit()"
          >Login</mx-button
        >
      </div>
    </div>
  </div>
</div>
