<div class="antialiased">
  <mx-progressbar #mxProgress></mx-progressbar>
  <mx-header></mx-header>
  @if (sidebarService.sidebarOpen$ | async) {
    @let theme = themeService.theme$ | async;
    <mx-sidebar
      (changeTheme)="themeService.changeTheme($event)"
      [theme]="theme"
    ></mx-sidebar>
  }
  <main
    class="px-4 pt-14 pb-4 md:ml-72 h-auto bg-background text-card-foreground min-h-screen"
    [ngClass]="{ 'md:ml-72': sidebarService.sidebarOpen$ | async }"
  >
    <router-outlet></router-outlet>
  </main>
</div>
